*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  font-size: 24px;
  color: #E3E2DF;
}
@font-face {
  font-family: 'Norse-Bold';
  src: url("./font/Norse-Bold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #0D0D0D;
  font-weight: bold;
}
  
#form_page{
  display: flex;
  height: 100%;
  width: 70%;
  
}
#form_half{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2E3944;
  gap: 50px;
}
#design_half{
  background-image: url("imgs/halie-west-25xggax4bSA-unsplash.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
}
#form_half > div{
  margin-left: 50px;
}
form{
  background-color: #4f6881;
  padding-top: 20px;
  padding-bottom: 20px;
}
#img_holder{
  font-family: 'Norse-Bold', sans-serif;
  font-size: 64px;
  display: flex;
  justify-content: center;
  background: rgba(44, 58, 58, 0.4);


}
#img_holder p{
  
  padding: 70px 0;
}
fieldset{
  border: none;
  margin-left: 50px;
}
legend{
  padding-bottom: 20px;
  font-size: large;
}
.col_account_input{
  display: flex;
  gap: 10%   ;
}
.row_account_input{
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
fieldset p{
  display: flex;
  flex-direction: column;

}
input{
  border: #E5E7EB solid 1px;
  border-radius: 4px;
}
label{
  color: #D3D9D4;
}
#form_hook{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#hook_text{
  width: 60%;
}
a{
  color: #bb9d43;
  text-decoration: none;
}
#account{
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
button{
  font-weight: bold;
  background-color: #bb9d43;
  color: #E3E2DF;
  padding: 10px 40px;
  border-radius: 10px;
}
button:hover{
  cursor: pointer;
}
