*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #748D92;
  color: #E3E2DF;
}
#form_page{
  display: flex;
  height: 100%;
  width: 75%;
  
}
#form_half{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2E3944;
  gap: 50px;
}
#design_half{
  background-image: url("imgs/halie-west-25xggax4bSA-unsplash.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 500px;
}
#form_half > div{
  margin-left: 100px;
}
form{
  background-color: #4f6881;
}
#img_holder{
  display: flex;
  justify-content: center;
  background: rgba(44, 58, 58, 0.4);


}
#img_holder p{
  
  padding: 70px 0;
}
fieldset{
  border: none;
  margin-left: 100px;
}
legend{
  padding-bottom: 20px;
  font-size: large;
}
.col_account_input{
  display: flex;
  gap: 10%   ;
}
.row_account_input{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
fieldset p{
  display: flex;
  flex-direction: column;

}
input{
  border: #E5E7EB solid 1px;
  border-radius: 4px;
}
label{
  color: #D3D9D4;
}
#form_hook{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
a{
  color: #bb9d43;
  text-decoration: none;
}
#account{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
