*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
  display: flex;
  justify-content: center;
}
#form_page{
  display: flex;
  height: 100%;
  width: 75%;
  
}
#form_half{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(57, 78, 78);
}
#design_half{
  background-image: url("imgs/halie-west-25xggax4bSA-unsplash.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 500px;
}
#form_half > div{
  margin-left: 100px;
}
form{
  margin-left: 100px;
}
#img_holder{
  display: flex;
  justify-content: center;
  background: rgba(44, 58, 58, 0.4);


}
#img_holder p{
  
  padding: 70px 0;
}
fieldset{
  border: none;
}
legend{
  padding-bottom: 20px;
  font-size: large;
}
.account_input{
  display: flex;
  gap: 10%;
}
fieldset p{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
input{
  border: #E5E7EB solid 1px;
  border-radius: 4px;
}
